companies controller の indexのview
<%= link_to "ホームへ", root_path, class: 'get' %>

<ul>
  <li>
    <%= link_to "得意先登録", customer_new_companies_path, class: 'get' %>
  </li>
  <li>
    <%= link_to "仕入先登録", supplier_new_companies_path, class: 'get' %>
  </li>
  <li>
    <%= link_to "情報変更", edit_companies_path, class: 'get' %>
  </li>
</ul>
